---
const { facilitator } = Astro.props;
const name = `${facilitator.firstName} ${facilitator.lastName}`;
---

<div
  class="bg-gray-200 rounded-xl shadow-lg/25 duration-300 pt-6 w-5/6 md:w-full mx-auto md:min-w-full"
>
  <div
    class="rounded-full border-3 border-white w-24 h-24 mx-auto"
    style={{
      backgroundImage: `url(/facilitator-photos/${facilitator.firstName}${facilitator.lastName}.jpg)`,
      backgroundSize: "cover",
      backgroundPosition: "center",
      width: "6rem",
      height: "6rem",
      borderRadius: "6rem",
    }}
  >
  </div>

  <p
    class="text-pretty text-center text-xl md:text-xl lg:text-2xl solway-medium text-cool-green mt-4"
  >
    {facilitator.firstName}
    {facilitator.lastName}
  </p>
  <p
    class="text-sm md:text-md xl:text-lg text-gray-500 text-center text-nowrap manrope-light px-2"
  >
    {
      facilitator.location || (
        <span class="italic text-gray-400 text-sm">location n/a</span>
      )
    }
  </p>

  <div class="py-3 text-center w-full border-t-gray-300 border-t-1 mt-4">
    <a href={`../contact?book-facilitator=${name}`} class="no-underline">
      <button
        class="rounded-full bg-cool-green text-white font-bold px-2 py-1 md:px-4 manrope-bold text-sm hover:cursor-pointer hover:bg-orange-300 hover:text-orange-800 focus:bg-warm-green focus:text-white"
        >Request Booking</button
      >
    </a>
  </div>
</div>
